.appdiv{
 
    width: 620px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    margin-left: 400px;
    margin-top: 40px;
    align-items: center;
  
}

.Labeloi{
  margin-left: 650px;
  color: #ff3333;
}

.Sujay{
  margin-top: 5px;
}

.Bhola{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}




